
//first mobile
  .header {
    background-color: #313131;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav {
      &__logo {
        display: block;
        margin: 0 auto;
      }
      &__list {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        li.nav__list-item {
          padding-right: 2.25rem;
          a {
            position: relative;
            text-decoration: none;
            color: #e1e1e1;
            display: inline-block;

            &::after {
              content: "";
              display: block;
              position: absolute;
              width: 0;
              height: 2px;
              bottom: -5px;
              left: 0;
              background-color: #fff;
              transition: width 0.3s ease;
            }
            &.active {
              color: #fff;
            }
            &:hover::after,
            &.active::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  // Band banner
  .band__banner {
    background-image: url(../Assets/Images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 38vh;
    position: relative;

    &-title {
      position: absolute;
      font-size: 1.875rem;
      line-height: 2.375rem;
      padding-left: 1rem;
      top: 26%;
      color: white;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0.5rem;
    margin: auto;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
    &__title {
      flex-basis: 100%;
      text-align: left;
      font-size: 1.125rem;
      padding: 1.5rem 1rem 1rem;
      color: #323232;
      margin: 0;
      line-height: 2rem;
      font-weight: 600;
    }

    &__musicians-image {
      background-image: url(../Assets/Images/band.jpg);
      width: 90vw;
      height: 39vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
    }

    &__quote {
      margin: 1rem 0;
      font-size: 1rem;
      padding: 0;

      blockquote {
        margin: 0;
        margin-bottom: 1rem;
        font-size: 0.75rem;
        font-weight: 600;
        font-style: italic;
      }

      figcaption {
        margin-top: 1.5rem;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
      }
      &__title2 {
        font-size: 1.125rem;
        padding: 1.5rem 0 1rem;
      }
      &__content {
        flex-direction: column;
      }
    }

    &__text {
      font-size: 0.8125rem;
      margin-bottom: 1rem;
      line-height: 1.5;
      color:rgba(0, 0, 0, 0.5);


      > p {
        width: 100%;
        text-align: left;
        margin-bottom: 1em;
      }
    }
  }
  .gallery {
    padding: 0 0 0;
    background-color: #fafafa;
    margin: 0 auto;

    &__title {
      font-size: 1.125rem;
      padding: 0 0 0 0.75rem;
      color: #323232;
      margin: 0;
      line-height: 2rem;
    }
    &__container {
      text-align: center;
    }

    &__image {
      max-width: 94vw;
      margin-bottom: 1rem;
      display: inline-block;
      margin: 0 0 10px 0;
    }
  }
  // Comment Block
  .comments__section {
    border-radius: 4px;

    h3 {
      text-align: left;
      margin-left: 0.813rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      line-height: 2rem;
      font-weight: 600;
      color: #323232;
    }
    .comment__block {
      display: flex;
    }
    .comment__avatar {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 1.25rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    .comments__container {
      .comment__form {
        margin-right: 11px;
        margin-left: 14px;
        label {
          display: block;
          margin-bottom: 0.2rem;
          font-size:0.9rem;
          line-height:20px;
          text-transform:uppercase;
          color: #AFAFAF;;
          font-weight:bold;
        }
      
        input[type="text"],
        textarea {
         
          padding: 0.5rem;
          margin-bottom: 1rem;
          border: 1px solid  #E1E1E1;
        border-radius: 5px;
        font-size: 16px;
        background-color: #f9f9f9;

        }
      
        button {
          background-color: #323232;
          color: #fff;
          border: none;
          padding: 0.5rem 1rem;
          font-size: 14px;
          cursor: pointer;
          border-radius: 5px;
          width: 100%;
          margin-bottom: 10px;
          text-transform: uppercase;
             &:hover{
              background-color:black;
             }
      
        }
      }
 
    }
  
    .comments__divider{
      width:90vw;
      margin:0 auto;
      height: 1px;
      background-color: #E1E1E1;  
          
    }
    input::placeholder,
    #commentInput::placeholder{
      color:#323232;
    }

  
    //default messages block
    .default-comments {
      &__block {
        display: flex;
      }

      &__avatar {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 20px;
        background-color: #2c3e50;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
      }

      &__details {
        width:82%;
        margin-left:14px;
      }

      &__name-and-date {
        display: flex;
        justify-content: space-between;
      }

      &__name {
        font-weight: bold;
      }

      &__date {
        font-style: italic;
        color: #777;
        font-size: 0.85em;
        margin-right:12px;
        margin-top: 18px; 
      }

      &__divider {
        height: 1px;
        background-color: #E1E1E1; 
        margin-top: 10px;
        margin-bottom: 10px; 
      }
      &__text{
        margin:0;
        font-size:13px;
        line-height:18px;
        font-weight:400;
        color:#323232;
      }
    }
  }

  /* Footer  */
  .contact {
    margin: 0 auto;
    background-color: #323232;
    padding: 0;

    .contact__description {
      padding-left: 1rem;

      .contact__title {
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        color: #ffffff;
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 600;
        margin: 0;
      }

      .contact__media {
        display: flex;
        gap: 1rem;
      }

      .contact__media-item {
        width: 24px;
        height: 24px;
      }

      .contact__logo {
        margin-right: 1.5rem;
        display: none;
      }
    }

    .contact__addresses {
      justify-content: start;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: #323232;
      color: #fff;

      .address {
        flex: 1 1 45%;
        padding-left: 1rem;

        .address__name,
        .address__info,
        .address__location,
        .address__role {
          font-size: 12px;
          line-height: 20px;
          font-weight: 600;
        }

        .address__email {
          font-size: 12px;
          text-decoration: none;
          color: #fff;
        }
        .address__location {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
    .footer__logo{
      margin-left:1rem;
      margin-top: 5rem;
    }
    /* Copyright */
    .contact__copyright {
      padding-left: 1.2rem;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      padding-bottom: 0.5rem;
      color: #fff;
    }
  }

// /*Responsive  Tablet*/
@media(min-width: 768px) and (max-width:1279px) {
  /* Header*/
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #313131;
.nav{
  display:flex;
  width: 100%;

  &__logo {
    padding-left:1.5rem;
    padding-top:1rem;
    margin:0;
  }
}
  // Navigation
  .nav__list{
    display:flex;
    list-style: none;
  }
  .nav__list-item {
    padding-right: 1.25rem;
  }

  .nav__list-item a {
    font-size: 0.875rem;
    position: relative;
            text-decoration: none;
            color: #FAFAFA;
            display: inline-block;
            &::after{
              content: '';
              display: block;
              position: absolute;
              width: 0;
              height: 2px;
              bottom: -5px;
              left: 0;
              background-color: #fff;
              transition: width 0.3s ease;
            }
            &.active{
               color:#fff;
             }
            &:hover::after,
            &.active::after {
              width: 100%;
            }

  }

  }
  // Band banner
  .band__banner{
    background-image: url(../Assets/Images/hero-bio.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
  }
  .band__banner-title {
    position: absolute;
    top: 45%;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color:#FFFFFF;
    padding-left: 2.25rem;
  }

  // About
  .about {
    display: flex;
    flex-direction: column;
    max-width: 72%;
    margin: auto;
    padding: 0;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
    &__musicians-image {
           max-width:100%;
            background-image: url(../Assets/Images/band.jpg);
            height: 76vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0;
          }
          &__title {
            flex-basis: 100%;
            text-align: left;
            padding-bottom: 2rem;
            padding-top: 2.5rem;
            padding-left: 2.25rem;
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-weight: 600;
            margin: 0;

          }
          &__quote {
            margin: 0;
            font-size: 1.5rem;

            blockquote {
              font-style: italic;
              margin-bottom: 0.5em;
              line-height: 1.5;
              margin-left: 0;
              font-size: 1.25rem;
            }
            figcaption {
              margin-top: 1.5rem;
              font-style: normal;
              font-weight: bold;
            }

  }
  &__content {
    display: flex;
    justify-content: space-between;

  }
  .about__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2rem;
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 0;
    color:rgba(0, 0, 0, 0.5);

    > p {
      width: 48%;
      text-align: left;
      margin-bottom: 1em;
      &:nth-child(1){
        margin-right:10px;
      }
    }
  }
  .about__title2{
    font-size: 1.125rem;
   padding: 1.5rem 0 1rem;
  }
}

  // Gallery
  .gallery {
    margin: 0 auto;
    background-color: #FAFAFA;
    padding-right:2.25rem;
    padding-left: 2.25rem;
    width:100%;

      &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
      }

      &__image {

        flex: 1 1 calc(33.333%  - 10px);
        max-width: calc(33.333%  - 10px);
        margin-bottom: 1rem;
      }

      &__title {
        padding: 3rem 0  2rem;
        margin: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        color:#323232;
      }

    }
  // Comment Block
  .comments__section {
    border-radius: 5px;

    h3 {
      text-align: left;
      font-size: 24px;
      margin-bottom: 1rem;
      line-height: 2rem;
      font-weight: 600;
      padding: 0 0 2rem 1.5rem;
    }
    .comment__block {
      display: flex;
      justify-content: center;
    }
    .comment__avatar {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 13px;
      overflow: hidden;
      margin-top: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
    //Comment Block
    .comments__container {
      .comment__form {
        margin-right: 11px;
        margin-left: 14px;
        width: 59vw;
        margin: 0 auto;
        label {
          display: block;
          margin-bottom: 0.2rem;
          font-size:0.9rem;
          line-height:20px;
          text-transform:uppercase;
          color: #AFAFAF;
        }

        input[type="text"],
        textarea {
          padding: 0.5rem;
          margin-bottom: 1rem;
          border: 1px solid  #E1E1E1;
          border-radius: 5px;
          font-size: 16px;
          background-color: #f9f9f9;
        }

        button {
          background-color: #323232;
          color: #fff;
          border: none;
          padding: 0.5rem 1rem;
          font-size: 14px;
          cursor: pointer;
          border-radius: 5px;
          margin-bottom: 10px;
          text-transform: uppercase;
          width: 53vw;
          &:hover{
            background-color:#000;
          }
        }
      }
    }
    .comments__divider{
      width:69vw;
      margin:0 auto;
      height: 1px;
      background-color: #E1E1E1;  
          
    }
    input::placeholder,
    #commentInput::placeholder{
      color:#323232;
    }
    #commentInput{
      height:19vh;
    }
    //default messages block
    .comments__list{
      width: 70%;
    margin: 0 auto;
    }
    .default-comments {
      &__block {
        display: flex;
      }

      &__avatar {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #2c3e50;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 20px;
      }

      &__details {
        margin-left: 5px;
      }

      &__name-and-date {
        display: flex;
        justify-content: space-between;
      }

      &__name {
        font-weight: bold;
      }

      &__date {
        font-style: italic;
        color: #777;
        font-size: 0.85em;
        margin-top: 5px;
        margin-top: 18px;
      }
      &__text{
        margin:0;
        font-size:13px;
        line-height:18px;
        font-weight:400;
        color:#323232;
      }

      &__divider {
        height: 1px;
        background-color: #E1E1E1;  
        margin-top: 10px; 
        margin-bottom: 10px; 
      }
    }
  }
  //contact
    .contact {
      position:relative;
      padding: 1.5rem;
      margin: 0 auto;
      background-color: #323232;
      .contact__description,
      .contact__social-media,
      .contact__addresses,
      .contact__logo {
        padding-left: 1.5rem;
      }
      .contact__description{
        display:flex;
    }
      .contact__title{
        padding-top: 2rem;

        margin:0;
        font-size: 1.25rem;
        color: #FFFFFF;
        line-height:2rem;
        font-weight: 600;
      }
      .contact__media {
        padding-bottom: 1.5rem;
        padding-top: 1.25rem;
        margin-left:2rem;
        font-size: 1.25rem;
        color: #FFFFFF;
        line-height:2rem;
        font-weight: 600;

      }

      .contact__logo {
        margin-left: auto;
        margin-right: 1.5rem;
      }

      .contact__media-item {
        margin-right: 1rem;
      }

      .contact__addresses {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #323232;
        color: #fff;
        .address {
          flex: 1 1 30%;
          &__info,
          &__name,
          &__location,
          &__role {
            margin-top: 2.25rem;
        margin-bottom: 2.25rem;
            font-size: 0.75rem;
            line-height:  1.25rem;
            font-weight: 400;

          }
        }

        a.address__email {
          text-decoration: none;
          color: #fff;
          font-size: 0.875rem;
          line-height: 1.375rem;
          font-weight: 400;
          font-size: 0.75rem;
        }
      }
      .footer__logo{
        position: absolute;
        left: 79%;
        bottom: 93%;
      }
      .contact__copyright {
        padding-left: 1.5rem;
        font-size: 0.75rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        color: #fff;
      }
    }
}
  
@media (min-width: 1280px) {
  //Destop Responsive
  .header {
    background-color: #313131;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;

    .nav {
      display: flex;
      width:100%;
      &__logo {
        padding-left: 3rem;
        padding-top:1rem;
        margin:0;
      }

      &__list {
        display: flex;
        list-style: none;

        li.nav__list-item {
          padding-right: 2.25rem;

          a {
            position: relative;
            text-decoration: none;
            color: #fafafa;
            display: inline-block;

            &::after {
              content: "";
              display: block;
              position: absolute;
              width: 0;
              height: 2px;
              bottom: -5px;
              left: 0;
              background-color: #fff;
              transition: width 0.3s ease;
            }

            &:hover::after,
            &.active::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // Band banner
  .band__banner {
    background-image: url(../Assets/Images/hero-bio.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    
  

    &-title {
      position: absolute;
      top: 45%;
      font-size: 3.75rem;
      line-height: 4.25rem;
      font-weight: 700;
      color: #ffffff;
      padding-left: 2.25rem;
    
    }
  }

  // About
  .about {
    display: flex;
    flex-direction: column;
    max-width: 72%;
    margin: auto;
    padding: 0;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }

    &__musicians-image {
      padding-left: 2.25rem;
    }

    &__title {
      flex-basis: 100%;
      text-align: left;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
      padding-left: 2.25rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
      margin: 0;
      color: #323232;
    }

    &__musicians-image {
      background-image: url(../Assets/Images/band.jpg);
      height: 100vh;
      width: 72vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: auto;
    }

    &__quote {
      margin: 0;
      font-size: 1.5rem;

      blockquote {
        font-style: italic;
        margin-bottom: 0.5em;
        line-height: 1.5;
        margin-left: 0;
        font-size: 1.8rem;
      }

      figcaption {
        margin-top: 1.5rem;
        font-style: normal;
        font-weight: bold;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 4rem;
      line-height: 1.25rem;
      font-size: 0.875rem;
      font-weight: 400;
      margin-top: 0;
      color: rgba(0, 0, 0, 0.5);


      > p {
        width: 48%;
        text-align: left;
        margin-bottom: 1em;
      }
    }
  }

  // Gallery
  .gallery {
    margin: 0 auto;
    background-color: #fafafa;


    &__title {
      padding: 3rem 0 2.25rem 2.25rem;
      margin: 0;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
      color: #323232;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding-left: 2.25rem;
      width: 100%;
    }

    &__image {
      flex: 1 1 calc(33.333% - 20px);
      max-width: calc(33.333% - 20px);
      margin-bottom: 1rem;
    }
  }
 // Comment Block
 .comments__section {
  border-radius: 5px;

  h3 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 1rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 2.25rem;
  }
  .comment__block {
    display: flex;
    justify-content: center;
    margin-right: 26px;

  }
  .comment__avatar {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 13px;
    overflow: hidden;
    margin-top: 20px;

    img {
      width: 100%;
      height: auto;
    }
    
  }
.comments__divider{
  width:69vw;
  margin:0 auto;
  height: 1px;
  background-color: #E1E1E1;  
      
}
  //Comment Block
  .comments__container {
    .comment__form {
      margin-right: 11px;
      margin-left: 14px;
      width: 64vw;
      margin: 0 auto;
      label {
        display: block;
        margin-bottom: 0.2rem;
        font-size:0.9rem;
        line-height:20px;
        text-transform:uppercase;
        color: #AFAFAF;
        font-weight:bold;
      }

      input[type="text"],
      textarea {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid  #E1E1E1;
        border-radius: 5px;
        font-size: 16px;
        background-color: #f9f9f9;
      }

      button {
        background-color: #323232;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 14px;
        text-transform: uppercase;
        &:hover{
          background-color:#000;
        }
      }
    }
  }
  input::placeholder,
  #commentInput::placeholder{
    color:#323232;
  }
  #commentInput{
    height:19vh;
  }
  //default messages block


  .comments__list{
    width: 70%;
  margin: 0 auto;
  }
  .default-comments {
    &__block {
      display: flex;
    }

    &__avatar {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
   
      background-color: #2c3e50;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 20px;
    }

    &__details {
      margin-left: 5px;
    }

    &__name-and-date {
      display: flex;
      justify-content: space-between;
    }

    &__name {
      font-weight: bold;
    }

    &__date {
      font-style: italic;
      color: #777;
      font-size: 0.85em;
      margin-top: 18px;
    }
    &__text{
      margin:0;
      font-size:13px;
      line-height:18px;
      font-weight:400;
    }

    &__divider {
      height: 1px;
      background-color:#E1E1E1; 
      margin-top: 10px; 
      margin-bottom: 10px; 
      color:#323232;
    }
  }
}
  // Footer. Contact block
  .contact {
    padding: 1.5rem;
    margin: 0 auto;
    background-color: #323232;
    .contact__description,
    .contact__social-media,
    .contact__addresses,
    .contact__logo {
      padding-left: 1.5rem;
    }
    .contact__description {
      display: flex;
    }
    .contact__title {
      padding-top: 2rem;

      margin: 0;
      font-size: 1.25rem;
      color: #ffffff;
      line-height: 2rem;
      font-weight: 600;
    }
    .contact__media {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      margin-left: 2rem;
      font-size: 1.25rem;
      color: #ffffff;
      line-height: 2rem;
      font-weight: 600;
    }

    .contact__logo {
      margin-left: auto;
      margin-right: 1.5rem;
    }

    .contact__media-item {
      margin-right: 1rem;
    }

    .contact__addresses {
      position:relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #323232;
      color: #fff;
      .address {
        flex: 1 1 30%;
        &__info,
        &__name,
        &__location,
        &__role {
          margin-top: 2.25rem;
          margin-bottom: 2.25rem;
          font-size: 0.75rem;
          line-height: 1.25rem;
          font-weight: 400;
        }
      }

      a.address__email {
        text-decoration: none;
        color: #fff;
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
        font-size: 0.75rem;
      }
    }
    .footer__logo{
      position: absolute;
      left: 79%;
      bottom: 104%;
    }
    .contact__copyright {
      padding-left: 1.5rem;
      font-size: 0.75rem;
      padding-top: 2rem;
      padding-bottom: 1.5rem;
      color: #fff;
    }
  }
}


